.head{
    height: 76px;
    background-color: black;
    color: lightgray;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    
    text-align: center;
    padding-top: 15px;
}

.grid :hover{
    transform:scale(0.9);
transition-timing-function: ease-in-out;
transition-duration: 3000;
}
.box{
   overflow: hidden;
}
.grid{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    flex-direction: row;
   
}
.App{
    background-color: black;
}
.slot_in{
    border: 2px solid white;
    width: 369px;
    display: block;
    margin: auto;
    /* background-color: black; */
    background-image: linear-gradient(pink, black);
    border-radius: 10px;
}
.emo{
    /* background-color: skyblue !important; */
    background-image: linear-gradient(pink, black);

    border-radius: 73px;
    padding-top: 4px;
    padding-bottom: 10px;
    width: 200px;
    margin: auto;
}
.fo{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;
}
.nm{
    background-color: black;
    color: white;
    width: fit-content;
    display: block;
    margin: auto;
    border-radius: 9px;
}
.btn{
    width: 100px;
    height: 41px;
    border-radius: 12px;
    background-image: linear-gradient(45deg, pink, black);
    color: whitesmoke;
    font-weight: bold;
    border: none;
    display: block;
    margin: auto;
    cursor: pointer;
}
/* .s{
    background-color: aquamarine;
} */

.ffi{
    width: 200px;
    height: 34px;
    border-radius: 16px
}
.todo-in{
    background-color: white;
    width: 300px;
    display: block;
    margin: auto;
    height: 500px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border-radius: 28px;
}
.list{
    list-style-type: none;
    text-align: left;
}
.h{
    background-color: lightseagreen;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
text-align: center;
font-weight: bold;
}
.txtf{
    width: 200px;
    height: 30px;
    border-bottom: 2px solid lightseagreen;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}
.nabtn{
    background-color: lightseagreen;
        width: 36px;
        height: 37px;
        border-radius: 32px;
        border: none;
        outline: none;
        cursor: pointer;
}
.nazbtn{
    background-color: lightseagreen;
        width: 25px;
        height: 26px;
        border-radius: 32px;
        border: none;
        outline: none;
        margin-right: 8px;
        cursor: pointer;
}

.pp{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.ppa{
    color: white;
    font-size: 15px;
    text-align: center;
    /* font-weight: bold; */
}
.item{
    color: darkgray;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
